@import "tailwindcss";

ul li{
    color: red;
}

.box{
    height: 300px;
    width: 300px;
    background-color: red;
}

.rounded{
    border-radius: 30px;
}

.rotated{
    rotate: 30deg;
    background-color: orange;
}